/* ------------- Poppins Google font ----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ----------- ROOT VARIABLES ------------- */
:root {
    --bs-gray-200: #e9ecef;


    --color-primary: #7380ec;
    /* --color-primary: #DA2129; */
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    /* --color-white: #FEFEFE; */
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    /* --color-background: #f6f6f9; */
    --color-background: #EBF4F8;
    --color-bg-light: #F1F8F0;
    --color-auth-background: #5D4CC0;

    --card-border-radius: 1.5rem;
    --boarder-radius-1: 0.4rem;
    --boarder-radius-2: 0.8rem;
    --boarder-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --section-padding: 3rem;

    --box-shadow-1: 0 2rem 3rem var(--color-light);
    --box-shadow-2: 0 .25rem .25rem var(--color-light);

    --normal-font-size: .875rem;
    --medium-font-size: .875rem;
    --small-font-size: .775rem;
}

/* start: home page */
.home-bg {
    height: 100vh;
    background: url(/assets/images/blob.svg) no-repeat;
    background-size: cover;
}

.home nav {
    display: flex;
    align-items: center;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-1);
}

.navbar-brand {
    color: var(--color-primary);
    transition: all 600ms ease;
}

.navbar-brand img {
    width: 2rem;
}

.navbar-brand:hover {
    color: var(--color-primary);
    transform: scale(1.10);
}

.home-section .section-title {
    font-weight: 400;
    font-size: 1.5rem;
}
.home-section .home-card-left {
    background: var(--color-light);
    border-radius: var(--card-border-radius);
    padding: 3rem;
}
/* end: home page */
/* start: error pages */
.error_page {
    height: 100vh;
    padding: 40px 0;
    background: var(--color-white);
}
.bg_404 {
    background: url(./images/404.gif);
    height: 400px;
    background-position: center;
}

.error_page h1 {
    font-size: 80px;
}

.error_page h3 {
    font-size: 40px;
}

.error_page a {
    color: var(--color-white);
    padding: 10px 20px;
    background: var(--color-primary);
    border-radius: 20px;
}
/* end: error pages */

/* start: section */
section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section .section-title {
    padding: 2rem;
    font-weight: 700;
    font-size: 27px;
}
/* end: section */

/* start: table section */
.table-section {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow-1);
    transition: all 300ms ease;
}

.table-section table {
    width: 100%;
    text-align: center;
    transition: all 300ms ease;
}

.table-section table thead th{
    height: 3rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-primary);
}

.table-section table tbody td {
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
    font-size: var(--small-font-size);
    text-align: center;
    vertical-align: middle;
}

.table-section table tbody th {
    color: var(--color-primary);
    font-size: var(--small-font-size);
    text-align: center;
    vertical-align: middle;
}

.table-section table tbody tr:hover {
    cursor: pointer;
}

.table-section table tbody tr:last-child td {
    padding: .5rem;

}

.table-section .show-all a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
/* end: table */


/* start: auth */
.auth-bg {
    background: var(--color-auth-background);
}

.auth-card-bg {
    background: var(--color-background);
    border-radius: var(--card-border-radius);
}
/* end: auth */

/* start: form */
.auth-card-form-bg {
    background: var(--color-light);
}

.form-section .form-group {
    position: relative;
    padding: .5rem;
}

.form-section button:hover {
    transform: scale(1.05);
}

.form-section .auth-icon {
    height: 2rem;
    width: 2rem;
}

.form-section .form-group input {
    padding-left: 1rem;
    border: solid 1.5px var(--color-primary);
    border-radius: var(--card-border-radius);
    background: var(--color-background);
    padding: .5rem;
    color: var(--color-primary);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-section .form-group label {
    margin-left: 1rem;
    font-size: 1.1rem;
    color: var(--color-dark);
    padding: .1rem;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* end: form */
/* start: employee */
.employee-select {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    border: .15rem solid var(--color-primary);
    color: var(--color-primary);
    transition: all 300ms ease;
}
.employee-select:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.card-img-top{
    border-radius: 50%;
    height: 6rem !important;
    width: 6rem !important;
    position: relative;
    /* position: relative; */
    /* left: 30%; */
    /* top: -60px; */
    object-fit: cover;
}

.employee-card {
    cursor: pointer;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-1);
    transition: all 300ms ease;
}

.employee-card:hover {
    transform: scale(1.15);
}

.employee-card-body{
    padding-top: 1rem;
}

.employee-card-title{
    font-size: 1rem;
}
/* end: employee */

body {
    width: 100vw !important;
    height: 100vh !important;
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
    color: var(--color-primary);
    scroll-behavior: smooth;
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800px;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
    font-size: var(--normal-font-size);
}

p {
    color: var(--color-dark-variant);
    font-size: var(--normal-font-size);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}



.text-primary:hover,
.text-primary {
    color: var(--color-primary);
}
.bg-primary {
    background-color: var(--color-primary);
}
.dropdown-toggle::after {
    display: none;
}
.cursor-pointer {
    cursor: pointer;
}

.button {
    background: var(--color-primary);
    border-radius: var(--card-border-radius);
    border: none;
    padding: .45rem 2rem;
    color: var(--color-white);
    box-shadow: var(--box-shadow-2);
    transition: all .4s ease-in-out;
}

.btn-none{
    border: none;
    background: none;
}

.button:hover {
    transform: scale(1.15);
}

.btn-danger {
    background: var(--color-danger);
}

/* start :modal */
.modal .modal-content {
    background: var(--color-background);
    border-radius: var(--card-border-radius);
}

.modal .modal-content .modal-icon{
    font-size: 40px;
    color: var(--color-primary);
}

/* end :modal */
/* start: dropdown */
.dropdown .dropdown-menu {
    background: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    overflow: hidden;
}

.dropdown-item {
    color: var(--color-primary);
    transition: all 300ms ease;
}

.dropdown-item:hover {
    margin-left: 3px;
    background: var(--color-background);
    color: var(--color-primary);
}
/* end: dropdown */


/* end: Global */
/* start: scrollbar */
::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
}
/* end: scrollbar */

/* start: Sidebar */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 490;
    opacity: 1;
    visibility: visible;
    transition: opacity .4s;
}

.sidebar.collapsed ~ .sidebar-overlay {
    opacity: 0;
    visibility: hidden;
}
.sidebar.smCollapsed ~ .sidebar-overlay {
    opacity: 0;
    visibility: hidden;
}

.sidebar.smExpanded,
.sidebar.collapsed:hover,
.sidebar {
    background: var(--color-background);
    /* background: var(--color-white); */
    /* box-shadow: var(--box-shadow-1); */
    width: 16rem;
    overflow-y: auto;
    transition: width .4s, left .4s;
    left: 0;
    z-index: 500;
}

.sidebar.smCollapsed {
    width: 0;
}

.sidebar.smExpanded {
    width: 16rem !important;
}

.sidebar.collapsed {
    left: -16rem;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--color-light);
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
}

.sidebar.sidebar.collapsed .sidebar-logo {
    display: none;
}

.sidebar-logo {
    cursor: pointer;
    transition: transform .4s;
}

.sidebar-logo:hover {
    transform: scale(1.15);
}

.sidebar-logo img {
    width: 3rem;
}

.sidebar-logo h3 {
    color: var(--color-primary);
}

.sidebar-logo h3 span {
    color: #DA2129;
}

.sidebar-toggle {
    cursor: pointer;
    transition: .2s;
}

.sidebar-toggle:hover {
    color: var(--color-primary);
}

.sidebar-menu {
    list-style-type: none;
    margin-left: 1rem !important;
}

.sidebar.collapsed .sidebar-menu {
    margin-left: 0 !important;
}

.sidebar-menu-item {
    margin-bottom: .25rem;
}

.sidebar-menu-item a {
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    padding: .55rem .85rem;
    border-radius: 20rem;
    font-size: .875rem;
    white-space: nowrap;
}

.sidebar-menu-item > a,
.sidebar-dropdown-menu-item > a {
    overflow: hidden;
    transition: .3s ease-in-out;
}

.sidebar-menu-item.focused > a,
.sidebar-menu-item > a:hover {
    /* background-color: var(--bs-gray-200); */
    background-color: var(--color-light);
    margin-left: 1.5rem;
    color: var(--color-primary);
}

.sidebar-dropdown-menu-item > a:hover {
    margin-left: 2rem;
    color: var(--color-primary);
}

/* .sidebar-menu-item.active a {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.175);
} */

.sidebar-menu-item.active a {
    background-color: var(--color-light);
    color: var(--color-primary);
}

.sidebar-menu-item-icon {
    margin-right: 1rem;
    font-size: 1.2rem;
}


.sidebar-menu-item-accordion {
    transition: transform .4s;
}

.sidebar-menu-item .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--boarder-radius-1);
}

.sidebar-dropdown-menu-item.focused > a .sidebar-menu-item-accordion,
.sidebar-menu-item.focused > a .sidebar-menu-item-accordion {
    transform: rotateZ(180deg);
}

.sidebar.collapsed:hover .sidebar-menu-divider,
.sidebar-menu-divider {
    font-size: .75rem;
    /* color: var(--color-dark-variant); */
    color: var(--color-primary);
    transition: opacity .2s;
    opacity: 1;
    visibility: visible;
}
.sidebar-dropdown-menu-item a {
    margin-left: 1rem;
    padding: .375rem 0;
    padding-right: .75rem;
}

.sidebar-dropdown-menu-item.focused > a,
.sidebar-dropdown-menu-item a:hover {
    color: var(--color-primary);
}
.sidebar-dropdown-menu {
    padding-left: 2rem;
}
.sidebar-dropdown-menu .sidebar-dropdown-menu {
    padding-left: 1rem;
    /* list-style-type: circle; */
}
/* end: Sidebar */



/* start: Main */
main {
    padding-left: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.main-body .page-title {
    font-size: var(--medium-font-size);
}

/* start: Navbar */
.main-body nav {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-1);
}

.navbar-link {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
}
.navbar-link:hover {
    background-color: var(--bs-gray-200);
}

nav .navdropdown-menu {
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-2);
    background: var(--color-background);
    min-width: 16rem;
    padding: 0;
    overflow: hidden;
}

nav .navdropdown-menu .navdropdown-title {
    background: var(--color-primary);
    color: var(--color-white);
}

nav .navdropdown-menu .navdropdown-body .dropdown-item {
    border-radius: 20px;
    margin-bottom: .5rem;
    box-shadow: var(--box-shadow-1);
    background: var(--color-white);
    transition: all 300ms ease;
}

nav .navdropdown-menu .navdropdown-body .dropdown-item:hover {
    transform: scale(1.10);
}

nav .navdropdown-menu .navdropdown-body .dropdown-item .notification-heading {
    color: var(--color-primary);
    font-weight: bold;
}

nav .navdropdown-menu .navdropdown-body .dropdown-item .notification-body {
    color: var(--color-info-dark);
}

/* end: Navbar */

.main-body .custom-card {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-1);
    transition: all 300ms ease;
}

.main-body .custom-card:hover {
    transform: scale(1.15);
}

/* start: Suummary */
.custom-card-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-light);
    font-size: 1.5rem;
    border-radius: 50%;
}

.icon-primary {
    background: var(--color-primary);
}

.icon-success {
    background: var(--color-success);
}

.icon-danger {
    background: var(--color-danger);
}

.icon-warning {
    background: var(--color-warning);
}

.summary-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 1.5rem;
    border-radius: 50%;
}

/* end: Summary */
/* start: Employees */
section .employee-section {
    background: red;
}

.employee-card-photo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
/* end: Employees */
/* end: Main */



/* start: Breakpoints */
 /* X-Small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* start: Sidebar */
    .sidebar-overlay {
        opacity: 0;
        visibility: hidden;
    }
    .sidebar.collapsed {
        width: 4.75rem;
        left: 0;
    }
    .sidebar.collapsed .sidebar-logo {
        display: none;
    }
    .sidebar.collapsed:hover .sidebar-logo {
        display: block;
    }
    .sidebar.collapsed:hover .sidebar-toggle {
        margin-left: auto;
        margin-right: 0;
    }
    .sidebar.collapsed .sidebar-toggle {
        margin: 0 auto;
        transform: rotateZ(180deg);
    }
    .sidebar.collapsed:hover .sidebar-menu-divider {
        font-size: .75rem;
        color: var(--bs-gray-600);
        transition: opacity .2s;
        opacity: 1;
        visibility: visible;
    }
    .sidebar.collapsed .sidebar-menu-divider {
        opacity: 0;
        visibility: hidden;
    }
    /* end: Sidebar */



    /* start: Main */
    main {
        transition: padding-left .2s;
        padding-left: 16rem;
    }
    .sidebar.collapsed ~ main {
        padding-left: 4.75rem;
    }
    /* end: Main */
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}
/* end: Breakpoints */